<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="static/base.css" />
    <div class="contain_form">
        <iframe src="//giphy.com/embed/26FPOogenQv5eOZHO" width="480" height="345" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <h1>Thank you!</h1>
        <p>We really appreciate your help with this study, {{ user }}.</p>
        <p>We promise not to share your data, and we encourage you to pass this study along to others!</p>
        
    </div>
{% endblock %}