<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Encode Video</title>
    <style>
      body {
        padding: 0; 
        margin: 0;
      } 
      canvas {
        position:absolute; 
        top:614px; 
        left:40px;
        z-index:100;
      } 
      vid {
        position:relative;
        z-index:-1;
      }
      form {
        position: absolute;
        top: 640px;
      }
      #addendum {
/*        display:hide;
*/      }
      #changevid {
        margin-left:360px;
      }

    </style>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<!--
<div class="flashes">
    {% for message in get_flashed_messages() %}
    <h3>{{ message }}</h3>
    {% endfor %}
</div>-->
<!---Assign a quality to every movement you see in this video.-->
<!--<h2>Encode Movements for Video  {{ num }}</h2>-->
<h4>Once the video has loaded, press and hold down the <img src="static/key.png" height="18"> key for the duration of each movement you see.</br>Note: Movement segments may be out of order. This tool is in beta, so please try to manually adjust times if the code breaks.</h4>
<h2>Press and hold <img src="static/key.png" height="26"> to add a segment.  Drag segment endpoints to adjust times.</h2>
<vid></vid>
<form method="POST">
<!-- just to display all potential errors -->
{% if form.errors %}
    <ul class="errors">Hey there! You missed a few fields. Please fill them out and submit again. Thanks! </br>
        <!--{% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}-->
    </ul>
{% endif %}

    <div data-toggle="fieldset" id="phone-fieldset">
         <h3>Movement Segments <input type="button" id="changevid" onclick="window.location.reload()" value="I've already encoded this video" /></h3>
        <table>
            <tr>
                <th>Start Time (s)</th>
                <th>End Time (s)</th>
                <th>Quality</th>
                <th>Emotion</th>
                <th>Body Parts Involved</th>
                <th></th>
            </tr>
            {% for segment in form.segments %}
                <tr data-toggle="fieldset-entry">
                    <td>{{ segment.start_time }}</td>
                    <td>{{ segment.end_time }}</td>
                    <td>{{ segment.laban_effort }}</td>
                    <td>{{ segment.emotion }}</td>
                    <td>{{ segment.body }}</td>
                    <td><button type="button" data-toggle="fieldset-remove-row" id="phone-{{loop.index0}}-remove">- Remove</button></td>
                </tr>
            {% endfor %}
        </table>
        <!--<button type="button" data-toggle="fieldset-add-row"
                                          data-target="#phone-fieldset">+ Add Movement</button>-->
    </div>
    <div id='addendum'>
      <p><input id="segmentsdone" type="submit" value="Finished"><span id="instruct"></span></p>
    
    </div>
    {{ form.hidden_tag() }}


<!--<h5> <a href="{{ url_for('get_user') }}">Home</a> </h5>-->

<!--<p id='submit_button'>{{ form.submit }}</p>-->
</form>


<script>
//console.log({{choice}});
if ({{ choice }}){
  $('#segmentsdone').click(function(){
      $('#addendum').html('<p>Overall, what emotions are being expressed in this video?</br>{{ form.overall(size=100) }}</p><p>Overall, how positive/negative are the emotions expressed?</br>{{ form.valence }}</p><p>Overall, how aroused/excited is the person in the video?</br>{{ form.arousal }}</p><p>How do you know?</br>{{ form.reason(size=100) }}</p><p>{{ form.submit }}{{ form.complete }}</p>');
  });
} else {
  $('#segmentsdone').click(function(){
      $('#addendum').html('<p>Overall, what emotions are being expressed in this video?</br>{{ form.overall(size=100) }}</p><p>Overall, how positive/negative are the emotions expressed?</br>{{ form.valence }}<p></p>Overall, how aroused/excited is the person in the video?</br>{{ form.arousal }}</p><p>How do you know?</br>{{ form.reason(size=100) }}</p><p>{{ form.submit }}</p>');
  });
}

{% if form.errors %}
  if ({{ choice }}){
    $('#addendum').html('<p>Overall, what emotions are being expressed in this video?</br>{{ form.overall(size=100) }}</p><p>Overall, how positive/negative are the emotions expressed?</br>{{ form.valence }}</p><p>Overall, how aroused/excited is the person in the video?</br>{{ form.arousal }}</p><p>How do you know?</br>{{ form.reason(size=100) }}</p><p>{{ form.submit }}{{ form.complete }}</p>');
  } else {
        $('#addendum').html('<p>Overall, what emotions are being expressed in this video?</br>{{ form.overall(size=100) }}</p><p>Overall, how positive/negative are the emotions expressed?</br>{{ form.valence }}<p></p>Overall, how aroused/excited is the person in the video?</br>{{ form.arousal }}</p><p>How do you know?</br>{{ form.reason(size=100) }}</p><p>{{ form.submit }}</p>');
      }
{% endif %}

$('#segmentsdone').mouseover(function(){
    //console.log('hovering');
    var instruct = '  Wait! Are you finished adding movements?';
    $('#instruct').html(instruct);
});
$('#segmentsdone').mouseleave(function(){
    //console.log('not hovering');
    var instruct = '';
    $('#instruct').html(instruct);
});

var vidname = '{{ this_video }}';
var duration = {{ duration }};

 
</script>
<script src="{{ url_for("static", filename="js/page.js") }}"></script>
<script src="static/js/p5.js" type="text/javascript"></script>
<script src="static/js/p5.dom.js" type="text/javascript"></script>
{% endblock %}
</body>
</html>