<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="static/base.css" />
    <style>
        tr {
            padding: 0 40px;
        }
        th {
            padding: 10px 20px;
        }
    </style>
    <div class="contain_form">
        <h1>Instructions</h1>
        <p>Hi, {{ user }}. Thanks for your willingness to participate in this study.</p>
            <p>You'll be asked to watch a few short videos in search of expressive movements. Please classify each movement with one of the following qualities from the drop-down menu:
                <table>
                    <tr>
                        <th>Slash</th>
                        <th>Dab</th>
                        <th>Wring</th>
                        <th>Flick</th>
                        <th>Punch</th>
                        <th>Press</th>
                        <th>Glide</th>
                        <th>Float</th>
                    </tr>
                </table>
            <p>There are no wrong answers here. Trust your intuition. Then, fill out the rest of the form.</p>
            <p>Data will be collected and analyzed privately for a thesis project at NYU Tandon School of Engineering. Participant data will not be shared.</p>
            <p>Do you understand the instructions and agree to participate?</p>
            <form action="{{ url_for('vid') }}">
                <input type="submit" value="Agree" />
            </form>
    </div>
{% endblock %}